.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:1px dashed #000000;
}
.section ul {
    overflow: hidden;
    /*margin:0 10%;*/
}
.section ul li {
    float:left;
}
.section ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.diff-zone {
    padding-top: 40px;
}
.zone-header {
    font-weight: 700;
    color:#000;
    padding-left: 10px;
}
.zone-value {
    background-color:rgb(84,130,53);
    overflow: hidden;
}
.zone-value.first-item {
    background-color:rgb(197,90,17);
    overflow: hidden;
}
.zone-value.last-item {
    background-color:rgb(191,144,0);
    overflow: hidden;
}
.zone-value ul li {
    overflow: hidden;
}
.zone-value ul li div {
    width:33%;
    float:left;
    color:#000;
    padding:3px 0 3px 42px;
    border-top:1px solid #000;
    border-right:1px solid #000;
}
.zone-value ul li div:last-child {
    width:34%;
}
.zone-value ul li:last-child div {
    border-bottom:1px solid #000;
}

.segment {
    border:1px dashed #000000;
}
.segment:hover,
.section ul li.active .segment {
    border:2px dashed #000;
    cursor: pointer;
}
.section-layout {
    /* min-height: 539px; */
    overflow: hidden;
}
.section-header {
    text-align:center;
    font-weight: 700;
    border-bottom:1px solid #ccc;
    margin:0;
    padding:5px 0;
    background-color:#f4f4f4;
    color:#000;
}
.segment-condition {
    background-color:#fff;
    padding:0 10px;
}
.segment-condition ul li {
    overflow:hidden;
}
.green-condition {
    /* background-color: rgb(180,199,231); */
    background: linear-gradient(45deg, #f9c667 0%,#f79621 100%);
    padding:10px;
    color: #000;
}
.over-condition {
    overflow: hidden;
}
.over-condition li {    
    float: left;    
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
h5,
h6,
ul,
li {
    margin:0;
    padding:0;
}
ul,
li {
    list-style: none;
    font-size: 12px;
}
.column-left,
.column-middle,
.column-right {
    float:left;
}
.column-left {
    width:33%;
}
.column-middle {
    width:45%;
}
.column-right {
    width:22%;
}
.zone-header span{
    width:32%;
    display: inline-block;
    text-align: center;
}
.segment-box {
    float:left;
    text-align: center;
    margin:5%;
}
.segment-box .sensor-box {
    border:1px solid #000;
    width:10px;
    height:10px;
    margin:5px;
    cursor: pointer;
}
.box-shadow {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}