<div class="layout-container" *ngIf="data" (window:resize)="onResize()" [ngStyle]="{'height':(oneHeightFeet*data.heightY)+'px', 'margin-left':layoutWidthMargin+'px', 'margin-right':layoutWidthMargin+'px', 'margin-top':(headerHeight+layoutHeightMargin)+'px', 'margin-bottom':(layoutHeightMargin)+'px'}">
  <ul>
    <li *ngFor="let section of data.sections; let i = index">
<!--       <span matTooltip="{{section.sectionName}} - {{section.sectionDescription}}" matTooltipPosition='above' matTooltipShowDelay=0> -->
  <!-- , 'padding-top': 50+'px' -->
      <!-- <div class="section-tag" [ngStyle]="{'margin-left':(calcMarginLeft(i)*oneWidthfeet)+((section.endX - section.startX) * oneWidthfeet)/3+'px'}">{{section.sectionName}}</div> -->
      <div class="section" id="animation{{i}}" [ngStyle]="{'margin-left':(calcMarginLeft(i)*oneWidthfeet)+'px', 'margin-top':((calcMarginTop(i)*oneHeightFeet)-25)+'px', 'width':(section.endX - section.startX) * oneWidthfeet+'px', 'height':(section.endY - section.startY) * oneHeightFeet+'px'}">
            <div class="section-tag" [ngStyle]="{'margin-left':(((section.endX - section.startX) * oneWidthfeet)/2) - (calcSectionLabelLength(i)/2) +'px'}">{{section.sectionName}}</div>
        <ul>
          <li *ngFor="let segment of section.segments">
            <div class="segment" (click)="navigateToSection(section.sectionId)" [ngStyle]="{'background':assignBgClr(segment.overallThresholdstate), 'width':((segment.endX - segment.startX) * oneWidthfeet)+'px', 'height':((segment.endY - segment.startY) * oneHeightFeet)+'px'}">
              {{segment.segmentName}}
            </div>
          </li>
        </ul>
      </div>
      <!-- </span> -->
    </li>
  </ul>
</div>