@charset "utf-8";
/*@import url("variable.less");*/
/* CSS Document */
body{
    font-size:12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin:0;
}
ul,
li {
    margin:0;
    padding:0;
    list-style: none;
}
li {
    float:left;
    position: relative;    
}
.section-tag {
        /*border:1px solid #000000;*/
        /*margin-top: 50 px;*/
        /*padding-top: 50 px;*/
        height: 25 px;
/*        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: 1;
        animation-direction: normal;*/
}

/*@keyframes slidein {
  from {
    margin-left:100%;
    width:100%
  }
  
  to {
    margin-left:40%;
    width:50%;
  }
}*/
.segment {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    border:1px dashed #000000;
}
.segment:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:2px dashed #000000;
    cursor: pointer;
    /*transform: scale(1.1);*/
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.layout-container {
	border:2px solid #1CB94A;
}
