<header id="header">
<div>
    <nav class="navbar navbar-success navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <strong><a class="navbar-brand" href="http://www.binarylogica.com">eAgroBuddy</a></strong>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <div class="collapse navbar-collapse" id="menu-example">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="/login">
                                    <i class="material-icons">input</i> Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>
</header>