#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4caf50;
    color: white;
    /*text-align: center;*/
}
#footer .container .copyright a {
	color: white;
}